@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700;900&family=Raleway&display=swap");

$font-family-base: "Raleway", sans-serif;
$primary: rgb(253, 144, 226);
$light: rgb(243, 243, 217);
$secondary: rgb(177, 174, 174);

@import "../node_modules/bootstrap/scss/bootstrap";
